<footer class="footer">
  <small>
    The <a href="/" target=”_blank”>Clear</a>
    by <a href="https://twitter.com/color001054?lang=ja" target=”_blank”>みなづき</a>
  </small>
    <nav>
      <ul>
        <li><%= link_to "このサイトについて", about_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
        <li><a href="http://news.railstutorial.org/" target=”_blank”>Rails News</a></li>
      </ul>
    </nav>
</footer>